.form {
  position: relative;
  width: 100%;
  height: 50px;
}

.search {
  width: 100%;
  height: 100%;
  font-size: 28px;
  padding-left: 10px;
  padding-right: 40px;
}

.search::-webkit-search-cancel-button {
  display: none;
}

.btn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}